@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,300;0,900;0,900;1,500&display=swap');


body{
    line-height: 2.5;
    font-family: 'Fira Sans Condensed', sans-serif;
    background-color: rgb(233, 252, 190);
}

#top_nav{
    
     padding: 0 8%;
     margin-left: 16px;
     margin-right: 16px;
    background-color: rgb(153, 238, 104) !important;

}
.nav-item{
  
  
  color: #4d4d4f !important;
  font-size: 20px;
  font-weight: 600;
  padding-left: 10px;
  
}


#search-box{
    
    color: rgb(192, 12, 12);
    border: 0px;
    border-radius: 0;
    position: relative;
    left: 40px;
    box-shadow: 5px 5px 5px rgb(54, 43, 43) ;

}
#search-button{
    position: relative;
    z-index: 99;
    background-color: rgb(98, 56, 138);
    border: 0px;
}

@media only screen and (max-width: 991px) {
    #searchform{
        margin-bottom: 30px;
        margin-top: 20px;
        position: relative
        
    }
}



#banner{
    background-color: rgb(161, 151, 144);
    padding-bottom: 20px;
    

}
#banner-text h1{
    color: rgb(19, 18, 17);
    font-size: 50px;
    margin-top: 100px;
}
#banner-img{
    margin-top: 30px;
    margin-bottom: 20px;
    height: 100vh;
}
#banner-btn-1{
    background-color: brown;
    border: 0;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gainsboro;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
}
#banner-btn-1:hover{
    background-color: rgb(222, 245, 122);
    transition: ease-in-out .5s;
}

#banner-btn-2{
    background-color: brown;
    border: 0;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gainsboro;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
}
#banner-btn-2:hover{
    background-color: rgb(222, 245, 122);
    transition: ease-in-out .5s;
}
#banner-btn-3:hover{
    
    border: 0px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gainsboro;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    background-color: rgb(222, 245, 122);
    transition: ease-in-out .5s;
}

@media only screen and (max-width: 500px) {
    #banner-text h1{
        color: antiquewhite;
        font-size: 30px;
        margin-top: 70px;
        
    }
}
#btn{
    background-color: hotpink;
    border-radius: 2px;
    border: 0px;
    
}
#btn:hover{
    background-color: rgb(188, 248, 109);
    border: 0;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gainsboro; 
    transition: ease-in-out .5s;
}
#dog2{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 0px;
    box-shadow: 5px 5px 5px 5px rgb(204, 120, 120);
    border: 0px;
}

#counter-section{
    background-image:url("images/front-view-beautiful-dog-with-copy-space.jpg") ;
    background-position: center;
    background-size: cover;
    backface-visibility: visible;
    box-shadow: 5px 5px 5px gray;
    height: 316px;
   
}
#countericon{
    font-size: 50px;
}


#card{
    margin-top: 20px;
}

.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    height: 170px;
    box-shadow: 5px 5px 5px gray;
}

#btn3{
    text-decoration: none;
}

#inner{
    box-shadow: 5px 5px 5px gray; 
}

#cart{
    box-shadow: 5px 5px 5px gray;
}
.row{
    margin-left: 5px;
    margin-right: 5px;
}






#button-addon1 {
    color: #ffc371;
  }
  
  i {
    color: #ffc371;
  }
  
  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }
  
  .form-control.shadow-0:focus {
    box-shadow: none;
  }





  /* about style */

  #abt:hover{
    box-shadow: 5px 5px 5px gray;
    background-image: url("images/front-view-beautiful-dog-with-copy-space-removebg-preview.png");
  }
#name{
    font-weight: 800;
}

.blinking{
    animation:blinkingText 4s infinite;
    font-weight: 800;
}
@keyframes blinkingText{
   
   
    100%{   color: rgb(156, 21, 21);    }
}





.parallax {
    /* The image used */
    background-image: url("images/front-view-beautiful-dog-with-copy-space.jpg");
  
    /* Set a specific height */
    min-height: 400px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("images/white-dog-being-cute-studio.jpg");
  
    /* Set a specific height */
    min-height: 400px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url("images/border-collie-dog.jpg");
  
    /* Set a specific height */
    min-height: 400px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.but{
    border: 0;
    border-radius: 40px;
    background-color: cyan;
    width: 200px;
    height: 50px;
    margin-left: 30px;
    padding-bottom: 50px;
    padding-top: 0px;
}

.but:hover{
    border: 0;
    border-radius: 40px;
    background-color: rgb(46, 241, 62);
    width: 200px;
    height: 50px;
    margin-left: 30px;
    padding-bottom: 50px;
    padding-top: 0px;
    box-shadow: 5px 5px 5px rgb(54, 43, 43) ;
}

.blinking1{
    animation:blinkingText 4s infinite;
    font-weight: 800;
}
@keyframes blinkingText{
   
   
    100%{   color: rgb(56, 228, 56);    }
}


/* contact */
*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  
  
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #ed1c6f;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #b9134f;
  }
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  .credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }

  #call{
    margin-bottom: 0px;
    font-size: 30px;
    font: bold;
    font-weight: 600;
  }

  

.background {
    display: flex;
    min-height: 0vh;
}

  